name: pushing tag version for release

on:
  push:
    branches:
      - main

    tags:
      - v*

jobs:
  build:
    if: contains(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - id: get_version
        uses: battila7/get-version-action@v2
      
      - name: set RELEASE_VERSION
        run: echo "RELEASE_VERSION=${{ steps.get_version.outputs.version-without-v }}" >> $GITHUB_ENV

      - name: Build and generate NuGet package
        run: |  
          cd MailjetApiClient
          dotnet build -c Release -p:Version=${RELEASE_VERSION}
          dotnet pack -c Release -p:Version=${RELEASE_VERSION} -o out
